:root {
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway", sans-serif;
    --nav-font: "Poppins", sans-serif;
}

/* Global Colors */
:root {
    --background-color: #ffffff;
    --default-color: #444444;
    --heading-color: #555555;
    --accent-color: #3F78BC;
    /* Warna biru yang menggantikan aksen sebelumnya */
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
}

/* Nav Menu Colors */
:root {
    --nav-color: #444444;
    --nav-hover-color: #3F78BC;
    /* Warna hover sesuai warna aksen baru */
    --nav-mobile-background-color: #ffffff;
    --nav-dropdown-background-color: #ffffff;
    --nav-dropdown-color: #444444;
    --nav-dropdown-hover-color: #3F78BC;
}

/* Color Presets */
.light-background {
    --background-color: #f7fcfc;
    --surface-color: #ffffff;
}

.dark-background {
    --background-color: #060606;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #252525;
    --contrast-color: #ffffff;
}

.accent-background {
    --background-color: #3F78BC;
    /* Sesuai warna aksen baru */
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #5F8ACD;
    /* Sedikit lebih terang agar harmonis */
}

/* Smooth scroll */
:root {
    scroll-behavior: smooth;
}

:root {
    --main-color: #103F91;
    --animate-duration: 400ms;
    --animate-delay: 0.2s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: var(--default-font);
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-color {
    color: var(--main-color);
}

.main-color-hover:hover {
    background: #0e7b94;
}

.red {
    color: #FF3C5F;
}

.red-hover:hover {
    background: #d3304e;
}

.bg-red {
    color: #FF3C5F;
}

.bg-white {
    background: white;
}

.drop-shadow {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.f-light {
    font-weight: 400;
}

.f-normal {
    font-weight: 500;
}

.f-bold {
    font-weight: 600;
}

.f-bolder {
    font-weight: 700;
}

.f-black {
    font-weight: 900;
}

.t-left {
    text-align: left;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}

.h1 {
    font-size: 2.2rem;
}

.h2 {
    font-size: 1.7rem;
}

.h3 {
    font-size: 1.4rem;
}

.h4 {
    font-size: 1.2rem;
}

.h5 {
    font-size: 0.8rem;
}

.h6 {
    font-size: 0.6rem;
}

.p1 {
    font-size: 2.2rem;
}

.p2 {
    font-size: 1.2rem;
}

.p3 {
    font-size: 1rem;
}

.p4 {
    font-size: 0.8rem;
}

.p5 {
    font-size: 0.7rem;
}

.p6 {
    font-size: 0.6rem;
}


.i1 {
    font-size: 10rem;
}

.i2 {
    font-size: 6rem;
}

.i3 {
    font-size: 4rem;
}

.i4 {
    font-size: 3rem;
}

.i5 {
    font-size: 1.6rem;
}

.i6 {
    font-size: 0.8rem;
}

.truncate-tb {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
}

.hr-sparator {
    margin: 1rem 0 1rem 0;
}

.btn {
    all: unset;
}

.btn-add {
    border: none;
    background: var(--main-color);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 10px;
    transition: background-color 0.2s ease;
    text-decoration: none;
}

.btn-add:hover {
    background: var(--nav-hover-color);
}

.btn-close {
    border: none;
    background: #FF3C5F;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 10px;
    transition: background-color 0.2s ease;
    text-decoration: none;
}

.btn-close:hover {
    background: #da3250;
}

.btn-filter {
    border: none;
    background: var(--main-color);
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    width: 100px;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0 0.2rem 0 0.2rem;
    text-align: center;
    transition: background-color 0.2s ease;
}

.btn-cek-nota {
    border: none;
    background: var(--main-color);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 10px;
    transition: background-color 0.2s ease;
    text-decoration: none;
}

.btn-cek-nota i {
    margin-left: 8px;
}

.btn-cek-nota:hover {
    background-color: var(--nav-hover-color);
}


.btn-filter a {
    text-decoration: none;
    text-align: center;
    position: relative;
    top: 17px;
    color: white;
    font-weight: 600;
}

.btn-filter:hover {
    background: var(--nav-hover-color);
}

#fileInput {
    display: none;
}

.input-group {
    display: flex;
}

.search-container a {
    text-decoration: none;
}

.filter-search-container {
    width: 75%;
}

.clear-btn {
    background-color: var(--main-color);
    border-radius: 1.6rem;
    padding: 0.8rem 2rem;
    color: #fff;
    text-decoration: node;
}

.clear-btn:hover {
    background-color: #0e5d6e;
}

/* Kustomisasi tombol */
.btn-custom {
    background-color: #0e7b94;
    /* Warna tombol */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    word-wrap: break-word;
}

.modal-content {
    background-color: #fefefe;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 1rem;
    width: 1000px;
    max-width: 800px;
}

.modaldetail-content {
    background-color: #fefefe;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 1rem;
    width: 1200px;
}

.form,
form:focus {
    border: 1px solid #aaa;
}

.modal-add {
    display: none;
}

.modal-edit {
    display: none;
}

.w-1 {
    width: 1rem;
}

.w-2 {
    width: 2rem;
}

.w-3 {
    width: 3rem;
}

.w-4 {
    width: 4rem;
}

.w-5 {
    width: 5rem;
}

.w-6 {
    width: 6rem;
}

.w-7 {
    width: 7rem;
}

.w-8 {
    width: 8rem;
}

.w-9 {
    width: 9rem;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.h-1 {
    height: 1rem;
}

.h-2 {
    height: 2rem;
}

.h-3 {
    height: 3rem;
}

.h-4 {
    height: 4rem;
}

.h-5 {
    height: 5rem;
}

.h-6 {
    height: 6rem;
}

.h-7 {
    height: 7rem;
}

.h-8 {
    height: 8rem;
}

.h-9 {
    height: 9rem;
}

.h-100 {
    height: 100%;
}

.h-50 {
    height: 50%;
}

.h-25 {
    height: 25%;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.m-3 {
    margin: 4rem;
}

.m-4 {
    margin: 6rem;
}

.m-5 {
    margin: 8rem;
}

.m-6 {
    margin: 10rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 4rem;
}

.mt-4 {
    margin-top: 6rem;
}

.mt-5 {
    margin-top: 8rem;
}

.mt-6 {
    margin-top: 10rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 4rem;
}

.mr-4 {
    margin-right: 6rem;
}

.mr-5 {
    margin-right: 8rem;
}

.mr-6 {
    margin-right: 10rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 4rem;
}

.mb-4 {
    margin-bottom: 6rem;
}

.mb-5 {
    margin-bottom: 8rem;
}

.mb-6 {
    margin-bottom: 10rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 4rem;
}

.ml-4 {
    margin-left: 6rem;
}

.ml-5 {
    margin-left: 8rem;
}

.ml-6 {
    margin-left: 10rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-3 {
    margin-left: 4rem;
    margin-right: 4rem;
}

.mx-4 {
    margin-left: 6rem;
    margin-right: 6rem;
}

.mx-5 {
    margin-left: 8rem;
    margin-right: 8rem;
}

.mx-6 {
    margin-left: 10rem;
    margin-right: 10rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-3 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.my-4 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.my-5 {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.my-6 {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 4rem;
}

.p-4 {
    padding: 6rem;
}

.p-5 {
    padding: 8rem;
}

.p-6 {
    padding: 10rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-3 {
    padding-top: 4rem;
}

.pt-4 {
    padding-top: 6rem;
}

.pt-5 {
    padding-top: 8rem;
}

.pt-6 {
    padding-top: 10rem;
}

.pr-1 {
    padding-right: 1rem;
}

.pr-2 {
    padding-right: 2rem;
}

.pr-3 {
    padding-right: 4rem;
}

.pr-4 {
    padding-right: 6rem;
}

.pr-5 {
    padding-right: 8rem;
}

.pr-6 {
    padding-right: 10rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-3 {
    padding-bottom: 4rem;
}

.pb-4 {
    padding-bottom: 6rem;
}

.pb-5 {
    padding-bottom: 8rem;
}

.pb-6 {
    padding-bottom: 10rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pl-2 {
    padding-left: 2rem;
}

.pl-3 {
    padding-left: 4rem;
}

.pl-4 {
    padding-left: 6rem;
}

.pl-5 {
    padding-left: 8rem;
}

.pl-6 {
    padding-left: 10rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-3 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.px-4 {
    padding-left: 6rem;
    padding-right: 6rem;
}

.px-5 {
    padding-left: 8rem;
    padding-right: 8rem;
}

.px-6 {
    padding-left: 10rem;
    padding-right: 10rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-3 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.py-4 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.py-5 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.py-6 {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.border-radius-1 {
    border-radius: 0.6rem;
}

.border-radius-2 {
    border-radius: 0.8rem;
}

.border-radius-3 {
    border-radius: 1rem;
}

.border-radius-4 {
    border-radius: 1.5rem;
}

.border-radius-50 {
    border-radius: 50%;
}

.pointer {
    cursor: pointer;
}

.sidebar {
    text-align: center;
    width: 270px;
    height: 100vh;
    background-color: var(--main-color);
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 0 20px 20px 0;
    padding-top: 20px;
    transition: width 0.5s cubic-bezier(0.25, 1.5, 0.5, 1);
    z-index: 999;
}

.sidebar.collapsed {
    width: 90px;
}

.sidebar.collapsed ul li a {
    justify-content: center;
    margin: 0 1rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
}

.sidebar ul li a {
    all: unset;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1.5rem;
    font-size: 12px;
    cursor: pointer;
    margin: 0 2rem;
    transition: background-color 0.2s ease;
    border-radius: 2rem;
}

.sidebar ul li a i {
    font-size: 1.2rem;
}

.sidebar ul li a:hover {
    /* background-color: #0c6e8272; */
    background: white;
    color: var(--nav-dropdown-hover-color);
    border-radius: 2rem;
}

.sidebar ul li a span {
    font-size: 14px;
    font-weight: 800;
    margin-left: 1rem;
}

.photo-profile-sidebar {
    width: 50px;
    height: 50px;
    /* border: 0.1px solid #adadad; */
    border-radius: 50%;
}

.sidebar.collapsed ul li span {
    display: none;
}

.btn-toggle-sidebar {
    cursor: pointer;
    background: white;
    padding: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    position: absolute;
    right: -15;
    top: 2.7rem;
    border: 0.5px solid rgb(75, 75, 75);
}

.btn-toggle-sidebar i {
    font-size: 1rem;
    font-weight: 800;
    color: #333;
    transform: rotate(180deg);
    transition: width 2s, height 2s, transform 2s;
}

.sidebar.collapsed .btn-toggle-sidebar {
    transform: rotate(180deg);
}

.gap-li {
    margin: 2rem 0;
}

.profile-sidebar {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.wrapper-container {
    flex: 1;
    margin-left: 12rem;
    transition: margin-left 0.3s;
}

.wrapper-container.expanded {
    margin-left: 4rem;
}

/* .header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;
} */

.content-card {
    display: flex;
    justify-content: center;
}

.card-v {
    height: 200px;
    width: 400px;
    /* max-width: 650px; */
    border-radius: 1rem;
    border: 1px solid #c9cbcf;
}

.table-img {
    width: 50px;
    height: 50px;
    border: 1px solid #aaa;
    border-radius: 50%;
    object-fit: cover;
}

.header-collumn {
    display: inline;
    justify-content: center;
    align-items: center;
    max-width: 1900px;
}

.search input {
    width: 100%;
    height: 60px;
    margin: 1.5rem 0;
    border-radius: 1px;
}

.search-container {
    display: flex;
    align-items: center;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 1rem;
    padding: 5px 10px;
    background-color: #fff;
    margin: 0 0.2rem 0 0.2rem;
}

.search-container:focus {
    outline: none;
    border: 1px solid #000000;
}

.search-container .fa-magnifying-glass {
    color: #888;
    margin-right: 10px;
}

.search-container input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 1.5rem;
}

.search-container input::placeholder {
    color: #aaa;
}

.search-container .fa-magnifying-glass {
    color: #888;
    margin-left: 10px;
}

.outer-table {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 1rem;
    width: 100%;
    /* max-width: 1200px */
    height: auto;
    margin-top: 1rem;
}

.content-table-table {
    margin: 1rem;
    width: auto;
    height: 800px;
    max-height: 800px;
    /* overflow: hidden; */
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-weight: 500;
    font-size: 1rem;
}

table th {
    background-color: var(--main-color);
    color: #fff;
    text-align: left;
    padding: 1.2rem 1rem;
    position: sticky;
    top: 0;
}

table td {
    padding: 1.2rem 1rem;
    color: #474747;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table tr:last-child td {
    border-bottom: none;
}

table tr:hover td {
    background-color: #f1f1f1;
}


@media screen and (max-width: 1366px) {}